/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-hex-map-block {
}

#map-block-container{
    display: inline-flex;
    align-self: center;
    text-align: center;
    background-color: #888 ;
	color: #fff;
    border:#C4FFF9;
    border-width: 1em;
}

#hex-container{
    margin:1em;
}
#map-top{
    display: inline;
}
#map-generator{
    display: inline;
}

polygon{
    position: absolute;
    stroke: #C4FFF9;
    stroke-width: 2;
}

g.hex-group{
    fill: transparent;
}
.hex-group:hover, .clicked-hex{
    fill: #f4442e;
    opacity : 0.6
}

#generator-button:hover{
    background-color: #878E88;
    color: #f4442e;
}
.map-form{
    margin: 0.5em;
    text-align: center;
}
.map-block{
    display: inline-block;
    vertical-align: top;
}

.tab-content{
    display: flex;
}

.info-container{
    flex-grow:1;
}
#info-box{
    margin:2em;
}
#content-container{
    display: block;
    overflow-block: auto;
    scrollbar-color: red orange;
    scrollbar-width: thin;

}
.info-table{
    width:100%;


}
.info-table, .info-table tr, .info-table td{
    background-color: #878E88;
    margin:0 auto;
    border: 1px solid #C4FFF9;
    padding: 0.5em;
}

button{
    margin:0.5em;
}
circle{
    stroke: #C4FFF9;
    stroke-width: 1;
    fill: #C4FFF9;
}
 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: none;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } 